@model dynamic
@{
    ViewBag.Title = "New Rental Form";
    //    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Rental Form</h2>

<form id="newRental">
    <div class="form-group">
        <label>Customer</label>
        <div class="tt-container">
            <input type="text"
                   required data-rule-validCustomer="true" value="" class="form-control"
                   id="customer" name="customer" />
        </div>
    </div>


    <div class="form-group">
        <label>Movie</label>
        <div class="tt-container">
            <input type="text" value="" data-rule-validMovies="true" class="form-control" id="movie" name="movie" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <ul id="movies" class="list-group"></ul>
        </div>
    </div>
    <button class="btn btn-primiry">Submit</button>
</form>


@section scripts
{
    @Scripts.Render("~/bundles/jqueryval");

    <script>
        $(document).ready(function () {

            var vm = {

                movieIds: []
            };
            var cutomers = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                // prefetch: '../data/films/post_1960.json',
                remote: {
                    url: '/api/customers?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#customer').typeahead(
                {
                    highlight: true
                }, {
                    name: 'customers',
                    display: 'name',
                    source: cutomers
                }).on("typeahead:select", function (e, customer) {
                    vm.customerId = customer.id;

                });



            var movies = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                // prefetch: '../data/films/post_1960.json',
                remote: {
                    url: '/api/movies?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#movie').typeahead(
                {
                    highlight: true
                }, {
                    name: 'movies',
                    display: 'name',
                    source: movies
                }).on("typeahead:select", function (e, movie) {
                    $("#movies").append("<li class='list-group-item'>" + movie.name + "</li>");
                    $("#movie").typeahead("val", "");

                    vm.movieIds.push(movie.id);
                });

            $.validator.addMethod("validCustomer", function () {
                return vm.customerId && vm.customerId != 0;
            }, "Please Select valid Customer");

            $.validator.addMethod("validMovies", function () {
                return vm.movieIds && vm.movieIds.length != 0;
            }, "Please Select at least one Movie");

            var validator =   $("#newRental").validate({
                submitHandler: function () {
                    e.preventDefault();

                    $.ajax({
                        url: "/api/newRentals",
                        method: "post",
                        data: vm
                    }).done(function () {
                        console.log("done");
                        toastr.success("Rented");
                        $("#customer").typeahead("val", "");
                        $("#movie").typeahead("val", "");
                        $("#movies").empty();
                        vm = { customerId: 0, movieIds: [] };
                        validator.resetForm();

                    }).fail(function () {
                        console.log("error");

                    });
                    return false;
                }
            });

            //$("#newRental").submit(function (e) {

            //})
        })

    </script>
}
